<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/form.css}"href="../css/form.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>회원 목록 창</title>
</head>
<body>
<div class="container">
    <h1>회원 목록</h1>
    <li>순번:<span th:text="${member.id}">id</span></li>
    <li>이름 :   <span th:text="${member.name}">name</span></li>
    <li>아이디 :    <span th:text="${member.loginId}">loginId</span></li>
    <li> 주소 :   <span th:text="${member.address}">address</span></li>
    <li>휴대폰번호 :    <span th:text="${member.phoneNumber}">phoneNumber</span></li>
    <div>
    <button onclick="location.href='index.html'"
            th:onclick="|location.href='@{/}'|"
            type="button">돌아가기</button>
        <button onclick="location.href='updateForm.html'"
                th:onclick="|location.href='@{/member/{loginId}/edit(loginId=${member.loginId})}'|"
                type="button">수정하기</button>
        <button th:onclick="|location.href='@{/member/{loginId}/delete(loginId=${member.loginId})}'|"
                type="button">삭제하기</button>
        <button onclick="location.href='viewAll.html'"
                th:onclick="|location.href='@{/member/all}'|"
                type="button">전체보기</button>
    </div>
    <button th:onclick="|location.href='@{/logout}'|"
            type="button">로그아웃</button>
</div>
</body>
</html>