<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/form.css}"href="../css/form.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
</head>
<body>
<div class="container">
<h2>아이디 찾기</h2>
    <div>귀하의 아이디는 <span th:text="${loginId}"/>입니다.</div>
    <button onclick="location.href='loginForm.html'" th:onclick="|location.href='@{/login}'|"type="button">로그인</button>
    <button onclick="location.href='index.html'"
            th:onclick="|location.href='@{/}'|"
            type="button">메인화면</button>
</div>
</body>
</html>