<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/form.css}"href="../css/form.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>회원가입 창</title>
</head>
<body>
<div class="container">
    <div>
        <h2>회원가입</h2>
    </div>
    <form action="viewForm.html" th:action th:object="${member}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
            <p class="errorMsg" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메세지</p>
        </div>
    <div>
            아이디 : <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error" placeholder="아이디입력">
            <div class="field-error" th:errors="*{loginId}">
                아이디 오류
            </div>
        </div>
        <div>
            이름 : <input type="text" id="name" th:field="*{name}" th:errorclass="field-error" placeholder="아이디입력">
            <div class="field-error" th:errors="*{name}">
                이름 오류
            </div>
        </div>
        <div>
            <div>
                비밀번호 : <input type="password" id="password" th:field="*{password}" th:errorclass="field-error" placeholder="비밀번호 입력">
            </div>
            <div class="field-error" th:errors="*{password}">
                비밀번호 오류
            </div>
        </div>
<!--        <div>-->
<!--            <div>-->
<!--                비밀번호 확인 : <input type="password" id="passwordCheck" th:field="*{passwordCheck}" th:errorclass="field-error" placeholder="비밀번호 확인">-->
<!--            </div>-->
<!--            <div class="field-error" th:errors="*{passwordCheck}">-->
<!--                비밀번호 오류-->
<!--            </div>-->
<!--        </div>-->

        <div>
            <div>
                주소 : <input type="text" id="address" th:field="*{address}" th:errorclass="field-error" placeholder="주소 입력">
            </div>
            <div class="field-error" th:errors="*{address}">
                주소 오류
            </div>
        </div>
        <div>
            <div>
                전화번호 : <input type="text" id="phoneNumber" th:field="*{phoneNumber}" th:errorclass="field-error" placeholder="주소 입력">
            </div>
            <div class="field-error" th:errors="*{phoneNumber}">
                전화번호 오류
            </div>
        </div>
        <button type="submit">상품 등록</button>
        <button onclick="location.href='index.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">등록 취소</button>
    </form>

</div>
</body>
</html>